.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item i {
  cursor: pointer;
  margin-right: 5px;
}

.vote-box {
  display: flex;
  align-items: center;
}
